html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.418);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    transition: all 500ms;
}

#barra {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;
    background-color: black;
}

#barra img {
    width: 50px;
    border: 0px 10px 0px 0px;
    padding: 10px;
    margin-left: 10px;
}

#barra div {
    font-size: 40px;
    height: 100%;
    font-weight: bold;
    color: white;
    border-left: 1px solid white;
    padding: 10px 10px 10px 20px;
    margin-left: 10px;
}

#linea {
    display: flex;
}

#rnd {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
}

#round {
    margin-left: 10px;
    color: blue;
}

#cuori {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    width: 300px;
    margin-left: 50px;
    color: white;
    background-color: blue;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
}

#cuori img {
    width: 70px;
    margin: 5px;
    transition: 200ms;
}

#dati {
    width: 500px;
}

#visuale {
    height: 800px;
    width: 1600px;
    border: 2px solid blue;
    border-radius: 0px 40px 0px 0px;
    background-image: url("../img/nuketown.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: url(../img/mirino.png), auto;
}

#puntatore {
    border: 3px solid red;
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 60px;
    z-index: 200;
}

#soldato img {
    height: 70%;
    position: absolute;
    margin: auto;
    filter: brightness(80%);
}

#soldato {
    position: absolute;
    height: 700px;
    width: 200px;
    transition: 10ms;
    display: none;
}

#divSoldato {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#soldato::selection,
#soldato img::selection,
#divSoldato::selection,
#vita::selection {
    background: none;
}

#vita {
    color: rgb(0, 0, 0);
    width: 50%;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(0, 255, 0) 100%, rgb(255, 255, 255) 0%)
}

#btn {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottone {
    width: 200px;
    height: 40px;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 23px;
    border-radius: 30px;
    outline: none;
    border: 1px solid black;
    transition: 300ms;
    z-index: 400px;
}

#bottone:hover {
    background-color: rgb(255, 255, 255);
    color: blue;
    cursor: pointer;
}

#gun {
    border: 1px solid black;
    border-radius: 0px 30px 30px 0px;
    margin-top: 10px;
    width: 400px;
    height: 250px;
    box-shadow: 2px 2px blue;
    background-color: white;
}

#gun::selection {
    background: none;
}

#arma {
    margin: -50px 0px 0px 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    border-radius: 100px;
    transition: 200ms;
}

#divArma {
    margin: 10px 0px 0px 10px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: blue;
    color: white;
    font-weight: bold;
    width: 150px;
    text-align: center;
    font-size: 30px;
}

#armaIMG {
    width: 100%;
    transform: rotate(45deg);
}

#danno {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    width: 70px;
    border-radius: 20px;
    z-index: 50;
}

#clp {
    z-index: 100;
}

#cambia {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 0px 30px 30px 0px;
    margin-top: 60px;
    width: 400px;
    height: 260px;
    box-shadow: 2px 2px blue;
    background-color: white;
}

#cSoldato,
#cArma {
    width: 100%;
}

#cSoldato div:nth-child(1),
#cArma div:nth-child(1) {
    margin: 10px 0px 0px 0px;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid black;
    background-color: blue;
    color: white;
    font-weight: bold;
    width: 150px;
    text-align: center;
    font-size: 20px;
}

#cArma div:nth-child(2),
#cSoldato div:nth-child(2) {
    margin: 10px 0px 8px 20px;
    font-weight: bold;
    width: 400px;
    font-size: 15px;
}

#urlSoldato,
#urlArma {
    margin-left: 20px;
    width: 200px;
}

#cSoldato input,
#cArma input {
    outline: none;
    border-radius: 10px;
    padding: 2px;
}

#cSoldato input[type='button'],
#cArma input[type='button'] {
    cursor: pointer;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: blue;
    font-weight: bold;
    font-size: 15px;
    transition: 300ms;
}

#cSoldato input[type='button']:hover,
#cArma input[type='button']:hover {
    background-color: blue;
    color: white;
}

#selectArmi {
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: blue;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 1s;
}

option {
    background-color: rgb(255, 255, 255);
    color: blue;
}

#avviso {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 10000;
    display: none;
}

#divAvviso {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#haiPerso {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

#avvisoArma {
    opacity: 0;
    display: flex;
    transition: 1s;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 80px;
    z-index: 10000;
    transition: none;
}

#divAvvisoArma {
    width: 100;
    height: 50px;
    border: 2px solid black;
    background-color: blue;
    border-radius: 25px 0px 0px 25px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    transition: none;
}

#divAvvisoArma div {
    font-weight: bold;
    color: rgb(255, 255, 255);
}
